window {
    background: #e9f4f5
}
.btn{
    border-radius: 20px;
}
/* .btn {
    background: #024488;
    border: none;
    outline: none;
    border-radius: 10px;
    color: snow;
}

.btn:hover {
    background: #00264b;
} */

headerbar.titlebar {
    min-height: 40px;
    font-size: 20px;
    color: black;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.bottom-bar {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    padding: 12px;
}

.head-label {
    font-weight: 600;
    font-size: 16px;
    font-family: cursive;
}

.sidebar {
    /* border: 1px solid black; */
    /* border-top: none;
    border-bottom: none; */
    font-weight: bold;
    background-color: rgba(148, 187, 233, .2);
}
